.searchbar {
    padding: 40px 0 15px 0;
    display: flex;
    background-color: #c4c4c4;
    justify-content: center;
    width: 100%;
    /* Necessary so that MUI Elements do not overlap nav & search bars */
    position: fixed;
    z-index: 10; 
}

.search-input {
    padding: 5px;
    width: 80%
}

.pokeball-logo {
    max-height: 40px;
    margin-right: 4px;
}