.nav {
  display: flex;
  background-color: #c4c4c4;
  overflow: hidden;
  justify-content: space-evenly;
  bottom: 0;
  width: 100%;
  height: 75px;
  
  /* Necessary so that MUI Elements do not overlap nav & search bars */
  position: fixed;
  z-index: 10;
}

.navLink {
  display: inline-block;
  color: #4d4d4d;
  background-color: #c4c4c4;
  text-align: center;
  padding: 20px 10px 10px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #acacac;
}
